
<!-- TITLE -->
<mat-card class="mb-40">
    <h1>
        <mat-icon class="ico-lg">home</mat-icon>
        Home
    </h1>
</mat-card>
    

<mat-card>
    <mat-card-content>

<!-- START LINKS -->
<div>
    <div routerLink="//actors" routerLinkActive="active">Link to List Actor</div>
</div>

<div>
    <div routerLink="//films" routerLinkActive="active">Link to List Film</div>
</div>

<div>
    <div routerLink="//filmmakers" routerLinkActive="active">Link to List FilmMaker</div>
</div>


<!-- END LINKS -->
    </mat-card-content>

</mat-card>