<!-- MODAL CHANGE PASSWORD -->
<h1 mat-dialog-title>Change Password</h1>

<form #passwordForm="ngForm" class="container-fluid" *ngIf="user">
    <div mat-dialog-content>

        <!-- OLD PASSWORD FOR PROFILE -->
        <mat-form-field class="full-width" *ngIf="!id">
            <input matInput type="password" placeholder="Old Password" #password_old='ngModel' [(ngModel)]="passwordOld" name="passwordOld" id="passwordOld" required>
            <mat-error>Old password not vaid</mat-error>
        </mat-form-field>

        <!-- ADMIN PASSWORD FOR EDIT USER -->
        <mat-form-field class="full-width" *ngIf="id">
            <input matInput type="password" placeholder="Admin Password" #password_admin='ngModel' [(ngModel)]="passwordAdmin" name="passwordAdmin" id="passwordAdmin" required>
            <mat-error>Admin password not vaid</mat-error>
        </mat-form-field>

        <!-- CURRENT PASSWORD -->
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="New Password" #password_new='ngModel' [(ngModel)]="passwordNew" name="passwordNew" id="passwordNew" validateEqual="passwordNewConfirm" reverse="true" required>
            <mat-error>The password is required</mat-error>
        </mat-form-field>

        <!-- CONFIRM PASSWORD -->
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirm New Password" #password_new_confirm='ngModel' [(ngModel)]="passwordNewConfirm" name="passwordNewConfirm" id="passwordNewConfirm" validateEqual="passwordNew" required>
            <mat-error>The passwords missmatch</mat-error>
        </mat-form-field>
    </div>

    <div class="clearfix"></div>
    <mat-card *ngIf="showError" class="bg-danger mt-10 mb-20">
        The old password is not valid
        <a class="close" (click)="closeError()" title="close">×</a>
    </mat-card>

    <!-- BUTTON BAR -->
    <div mat-dialog-actions class="mt-40">
        <button mat-raised-button type="submit" color="primary" *ngIf="!id" (click)="changePassword(passwordForm.valid)" [disabled]="passwordForm.invalid  && password_new_confirm != password_new">Confirm</button>
        <button mat-raised-button type="submit" color="primary" *ngIf="id" (click)="changePasswordByAdmin(passwordForm.valid)" [disabled]="passwordForm.invalid  && password_new_confirm != password_new">Confirm</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>

</form>