<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Manage_Film_Example Web Application</display-name>
	<servlet>
		<servlet-name>Manage_Film_Example</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Manage_Film_Example</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.manage_film_example.security.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

</web-app>